# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*.backup

# Local env
.terraformrc
.terraform.d

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
*.pem
*.key
